<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Your status has changed!</p>
<p>
Expense details<br>
--------------------------
</p>
<p> approvalstatus:<%= @status %></p>
<p> Amount approved:<%= @amount %></p>

</body>
</html>